@import url('./__title/table__title.css');
@import url('./__grid/table__grid.css');

.table {
    width: 100%;
    min-height: 866px;
    background: #F5F6F7;
    border: 1px solid #F5F6F7;
}

@media (max-width: 768px) {
    .table {
        width: 100%;
        min-height: 700px;
       }
}

@media (max-width: 480px) {
    .table {
        width: 100%;
        min-height: 478px;
       }
}

@media (max-width: 320px) {
    .table {
        width: 100%;
        min-height: 478px;
        border: #F5F6F7 1px solid;
       }
}