@import url('./__subtitle/analytics__subtitle.css');
@import url('./__text/_list/analytics__text_list.css');
@import url('./__title/analytics__title.css');


.analytics{
 min-height: 426px;
 width: 100%;
}

@media (max-width: 768px) {
    .analytics{
        min-height: 426px;
        width: 100%;
       }
}

@media (max-width: 320px) {
    .analytics{
        min-height: 150px;
        width: 100%;
       }
}
