@import url('../__lang/news-list__lang.css');

.news-list__string {
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 297px;
    margin-top: 0;
}


@media (max-width: 1280px) {
    .news-list__string {
        width: 25%;
    }
}

@media (max-width: 999px) {
    .news-list__string {
        width: 32%;
        margin-left: 277px;
    }
}

@media (max-width: 768px) {
    .news-list__string {
        width: 25%;
        margin-left: 10%;
    }
}

@media (max-width: 480px) {
    .news-list__string {
        width: 90%;
        margin-left: 0;
        margin-top: 42px;
    }
}






