.search__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    text-align: left;
    color: #FFFFFF;
    width: 39%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    white-space: pre-line;
}

@media (max-width: 768px) {
    .search__title {
        width: 58.85%;
        margin-top: 40px;
        /*margin-left: 163px;
        margin-right: 220px;*/
        margin-bottom: 16px;
        font-size: 36px;
        line-height: 40px;
    }
  }

@media (max-width: 375px) {
    .search__title {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 56px;
        font-size: 36px;
        line-height: 40px;
    }
  }


@media (max-width: 320px) {
    .search__title {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 56px;
        font-size: 36px;
        line-height: 40px;
    }
  }