.autor__foto {
    margin-top: 12.82%;
    margin-left: 7.22%;
    width: 32.22%;
    height: auto;
    max-width: 32.22%;
    margin-bottom: 12.82%;
}

@media (max-width: 768px) {
    .autor__foto {
        width: 30.21%;
        margin-bottom: 11.5%;
        margin-top: 11.5%;
        margin-left: 5.2%;
    }
}

@media (max-width: 600px) {
    .autor__foto {
        min-width: 65%;
        margin-bottom: 3.4%;
        margin-top: 2.6%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 375px) {
    .autor__foto {
        min-width: 85%;
        margin-bottom: 3.4%;
        margin-top: 2.6%;
        margin-left: 7.5%;
    }
}

