@import url('../__column-header/_date/table__column-header_date.css');
@import url('../__mentions/table__mentions.css');
@import url('../__line/table__line.css');
@import url('../__rating/table___rating.css');
@import url('../__date/table__date.css');
@import url('../__rectangle/table__rectangle.css');



.table__grid {
    display: grid;
    align-items: center;
    grid-template-columns: 8.4% 22.89% 22.89% 22.89% 22.89%;
    grid-gap: 0px;
    width: 85.55%;
    margin-top: 48px;
    margin-left: 104px;
}

@media (max-width: 1280px) {
    .table__grid {
        width: 89.58%;
        grid-gap: 0px;
        width: 85.55%;
        margin-top: 48px;
        margin-left: 80px;
       }
}

@media (max-width: 999px) {
    .table__grid {
        grid-gap: 0px;
        width: 85.55%;
        margin-top: 48px;
        margin-left: 80px;
       }
}


@media (max-width: 768px) {
    .table__grid {
        width: 89.58%;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
       }
}

@media (max-width: 320px) {
    .table__grid {
        width: 90%;
        grid-template-columns: 22.22% 77.77%;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 18px;
       }
}