@import url('./card/card.css');


.news-list__cards {
    width: 86%;
    display: grid;
    grid-template-columns: 32.3% 32.3% 32.3%;
    grid-gap: 1.4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .news-list__cards {
        width: 89.56%;
        grid-gap: 8px;
        margin-top: 32px;
        /*margin-bottom: 32px;*/
    }
}

@media (max-width: 480px) {
    .news-list__cards {
        grid-template-columns: 100%;
        grid-gap: 8px;
        /*margin-left: 16px;*/
        margin-top: 32px;
    }
}

@media (max-width: 320px) {
    .news-list__cards {
        grid-template-columns: 288px;
        grid-row-gap: 8px;
        margin-top: 32px;
    }
}