@import url('./__img/no-result__img.css');
@import url('./__subtitle/no-result__subtitle.css');
@import url('./__title/no-result__title.css');

.no-result {
    background: #F5F6F7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    max-height: 374px;
    display: none;
}

@media (max-width: 999px) {
    .no-result {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .no-result {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .no-result {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .no-result {
        width: 100%;
    }
}
