.search__form_button {
    width: 30%;
    top: 0;
    right: 0;
    min-height: 64px;
    margin-left: 41px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    order: 2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border: 2px solid #2F71E5;
}

.search__form_button:active {
    background: #2A65CC;
    border: #2f71e5;
    cursor: pointer;
}

.search__form_button:hover {
    background: #347EFF;
    cursor: pointer;
}


.search__form_button:active:hover {
    box-shadow: 0 0 10px#60f;
    -moz-box-shadow: 0 0 10px #60f;
    -o-box-shadow: 0 0 10px #60f;
    -ms-box-shadow: 0 0 10px #60f;
    -webkit-box-shadow: 0 0 10px #60f;
}

@media (max-width: 768px) {
    .search__form_button {
        width: 35.71%;
        margin-top: -1px;
        margin-left: 40px;
    }
}

@media (max-width: 375px) {
    .search__form_button {
        position: absolute;
        width: 100%;
        min-height: 56px;
        margin-top: 72px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
} 

@media (max-width: 320px) {
    .search__form_button {
        width: 100%;
        height: 56px;
        margin-top: 72px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
}  