@import url('./circle-preloader.css/circle-preloader.css');
@import url('./__text/preloader__text.css');


.preloader {
    margin: 0;
    /*background-color: #333;*/
    overflow: hidden; 
    width: 100%;
    min-height: 282px;
    background: #F5F6F7;
    flex-direction: column;
    display: none;
}    


@media (max-width: 768px) {
    .preloader {
        width: 100%;
    }
}
