.news-list__title {
    position: relative;
    width: 57.79%;
    max-height: 46px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    white-space: nowrap;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

@media (max-width: 999px) {
    .news-list__title {
        width: 43.75%;
    }
}


@media (max-width: 768px) {
    .news-list__title {
        width: 43.75%;
    }
}

@media (max-width: 480px) {
    .news-list__title {
        width: 90%;
        margin-bottom: 16px;
        white-space: pre-line;
    }
}

@media (max-width: 320px) {
    .news-list__title {
        width: 90%;
    }
}