@import url('./__author/footer__author.css');
@import url('./__social/footer__social.css');
@import url('./__between-links/footer__between-links.css');


.footer {
    width: 100%;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
 

@media (max-width: 999px) {
    .footer {
        max-height: 64px;
    }
} 

@media (max-width: 768px) {
    .footer {
        max-height: 64px;
    }
}    

@media (max-width: 680px) {
    .footer {
        min-height: 224px;
        max-height: 224px;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 22px;
    }  
}    

@media (max-width: 320px) {
    .footer {
        max-height: 224px;
    }  
} 