@import url('./__address/autor__address.css');
@import url('./__foto/autor__foto.css');
@import url('./__title/autor__title.css');
@import url('./__united-words/autor__united-words.css');


.autor {
    background: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
}

@media (max-width: 1024px) {
    .autor {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .autor {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .autor {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .autor {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        width: 100%;
    }
}