.table__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    width: 85.55%;
    margin-top: 80px;
    margin-left: 104px;

}

@media (max-width: 768px) {
    .table__title {
        width: 90%;
        margin-top: 40px;
        margin-left: 40px;
       }
}

@media (max-width: 375px) {
    .table__title {
        margin-top: 24px;
        margin-left: 16px;
        font-size: 24px;
       }
}

@media (max-width: 320px) {
    .table__title {
        margin-top: 24px;
        margin-left: 16px;
        font-size: 24px;
       }
}