.card__url {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

@media (max-width: 999px) {
    .card__url {
        width: 86%; 
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .card__url {
        width: 86%; 
        margin-bottom: 16px;
    }
}

@media (max-width: 375px) {
    .card__url {
        width: 90%; 
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .card__url {
        width: 90%; 
        margin-bottom: 20px;
    }
}