.slider__item_post {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1A1B22;
    width: 100%;
    margin-top: 2px;
    margin-left: 0px;
    min-height: 22px;
}