.emblem__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    width: 23.88%;
    white-space: pre-line;
    position: absolute;
    margin-left: 104px;
    margin-top: 80px;
}

@media (max-width: 999px) {
    .emblem__title {
        font-size: 30px;
        line-height: 34px;
        margin-left: 80px;
        margin-top: 80px;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .emblem__title {
        font-size: 30px;
        line-height: 34px;
        margin-left: 40px;
        margin-top: 40px;
        width: 43.75%;
    }
}

@media (max-width: 320px) {
    .emblem__title {
        margin-left: 16px;
        margin-top: 32px;
        width: 90%;
        font-size: 30px;
        line-height: 40px;
    }
}