.footer__author {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    width: 15%;
}

@media (max-width: 768px) {
    .footer__author {
        margin-top: 24px;
        margin-left: 40px;
        margin-right: 0px;
        margin-bottom: 18px;
        width: 22%;
    }
} 

@media (max-width: 560px) {
    .footer__author {
        margin-top: 160px;
        margin-left: 16px;
        margin-right: 0px;
        margin-bottom: 22px;
        width: 62.5%;
    }
} 

@media (max-width: 320px) {
    .footer__author {
        margin-top: 180px;
        margin-left: 16px;
        margin-right: 0px;
        margin-bottom: 22px;
        width: 62.5%;
    }
}

