.table__rectangle_2 {
    /*width: 20.78%;*/
    max-width: 256px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    white-space: pre-line;
}

@media (max-width: 375px) {
    .table__rectangle_2 {
        width: 21%;
    }
}

@media (max-width: 320px) {
    .table__rectangle_2 {
        width: 21%;
        grid-column-end: 3;
    }
}