.card__datetime {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    width: 100%;
    margin-left: 6%;
    margin-top: 20px;
}


@media (max-width: 999px) {
    .card__datetime {
        
        margin-top: 16px;
    }
}

@media (max-width: 768px) {
    .card__datetime {
        
        margin-top: 16px;
    }
}