.header__logo {
    margin-left: 104px;
    margin-top: 30px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #1A1B22;
}

.logo {
    position: absolute;
    width: 13.88%;
}

@media (max-width: 1024px) {   
    .logo {
        position: absolute;
        width: 13.88%;  
    }
  } 

@media (max-width: 768px) {   
    .logo {
        position: absolute;
        width: 26%; 
    }

    .header__logo {
        margin-left: 40px;
        margin-top: 22px;
        margin-bottom: 18px;
        
    }
  } 

@media (max-width: 375px) {   
    .logo {
        position: absolute;
        width: 36.56%;  
    }

    .header__logo {
        margin-left: 16px;
        margin-top: 16px;
    }
  } 