@import url(./_avatar/slider__item_avatar.css);
@import url(./_datetime/slider__item_datetime.css);
@import url(./_img/slider__item_img.css);
@import url(./_inner/slider__item_inner.css);
@import url(./_name/slider__item_name.css);
@import url(./_post/slider__item_post.css);
@import url(./_text/slider__item_text.css);
@import url(./_author/slider__item_author.css);
@import url(./_another-text/slider__item_another-text.css);



.slider__item {
    position: relative;
    margin-right: 16px;
    background: #FFFFFF;
    border-radius: 16px;
}


@media (max-width: 768px) {
  .slider__item {
        /*min-height: 242px;*/
        width: 43.75%;
        min-width: 336px;
        margin-right: 8px;
        
    }
}

@media (max-width: 320px) {
  .slider__item {
      width: 90%;
      min-width: 288px;
      margin-right: 16px;

    }
}