@import url('../card/__img/card__img.css');
@import url('../card/__datetime/card__datetime.css');
@import url('../card/__title/card__title.css');
@import url('../card/__paragraph/card__paragraph.css');
@import url('../card/__url/card__url.css');

.card {
    width: 100%;
    /*max-height: 576px;*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    margin-top: 0px;
    background: #FFFFFF;
    border-radius: 16px; 
    word-break: break-all;
}

@media (max-width: 768px) {
    .card {
        min-height: 420px;
    }
}


@media (max-width: 480px) {
    .card {
        width: 100%;
        min-height: 447px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 288px;
        min-height: 510px;
    }
}

