.table__rectangle_5 {
    /*width: 42.86%;*/
    max-width: 528px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 16;
}


@media (max-width: 999px) {
    .table__rectangle_5 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media (max-width: 480px) {
    .table__rectangle_5 {
        width: 45.13%;
        grid-column-end: 4;
    }
}

@media (max-width: 320px) {
    .table__rectangle_5 {
        width: 45.13%;
    }
}